.logo{
    display: flex;
    margin-left: 40px;
}
.logo img{
    height: 80px;
}
header{
    position: fixed;
    height: 100px;
    width: 100%;
    background-color:whitesmoke ;
    top: 0px;
    z-index: 10;
}
main{
    margin-top: 102px;
}
form{
    border: 1px solid purple;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
form input{
    margin-top: -20px;
    height: 30px;
}
button{
    margin-top: 20px;
    border: 1px solid blue;
    color: blue;
    margin-bottom: 20px;
    width: 50%;
}
button:hover{
    background-color: blue;
    color: white;
}
form h1{
    margin-bottom: 20px;
}
td,th{
    border: 1px solid black;
    text-align: left;
    height: 20px;
    width: 40px;
    max-width: fit-content;
    margin-right: -30px;
}
table{
    width: 75%;
    margin-left: 12.5%;
}
table input{
    width: 50px;
    border: none;
}