header{
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    left: 178px;
}
.finewave{
    position: relative;
    top: 0px;
    font-size: larger;
    font-weight: 2rem;
}
.fine{
    color: blue;
}
.wave{
     color: red;
}
.input{
    position: absolute;
    text-align: center;
    top: 50px;
    inset: 50px 25% 0 25% ;
    display: flex;
    gap: 0;
}
.input input{
    width:480px ;
    height: 20px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-right: none;
}
.input input::placeholder{
    color: red;
    text-align: center;

}
.button{
    background-color: black;
    color: white;
    height:21.5px ;
    border-radius: 10px;
    margin-left: -220.7px;
    overflow: hidden;
    border: none;
    margin-top: -10px;
    
}
.sidenav{
    display: block;
    position: fixed;
    z-index: 1;
    height: 100%;
    width:175px;
    background-color: black;
    text-align: center;
}
button{
    display: block;
    position: relative;
    gap: 20px;
    left: 25%;
    margin-bottom: 10px;
    height: 40px;
    width: 65px;
    color: white;
    background-color: grey;
    top: 10px;
    text-align: center;
    padding-bottom: 6px;
}